[user]
	email = radeite8@gmail.com
	name = Rizki Ardian
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta --side-by-side
[delta]
	navigate = true
[http]
	postBuffer = 1048576000000
[rerere]
	enabled = true
	autoupdate = true
[pager]
	diff = diffnav
